* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
  background-color: antiquewhite;
}

.container {
  gap: 6rem;
  width: 80%;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

.scores {
  width: 50%;
}

.scores-header {
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

#get-score,
#add {
  color: white;
  border: 2px solid black;
  background-color: black;
  padding: 0.3rem 1rem;
  cursor: pointer;
  border-radius:10px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  transition: all ease-out 0.5s;
}

form {
  margin-top: 1rem;
  gap: 2rem;
  align-items: flex-end;
}

form input {
  line-height: 2.5rem;
  border: 2px solid black;
  width: 100%;
}

form input::placeholder {
  padding-left: 1rem;
  font-style: italic;
}

form button {
  width: 40%;
  position: relative;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}

ul {
  list-style: none;
  border: 2px solid black;
  margin-top: 1rem;
}

li {
  padding: 1rem;
}

footer {
  margin:2rem 0;
}

li:nth-child(odd) {
  background-color: #d3d3d3;
}

.d-flex {
  display: flex;
}

.col {
  flex-direction: column;
}

#error-state {
  color: rgb(91, 50, 50);
  font-size: 1rem;
}

#get-score:hover,
#add:hover {
  background-color: #d3d3d3;
  color: black;
}

#get-score:active,
#add:active {
  transform: scale(0.8);
  background-color: red;
}

@media (max-width:699px){
  .container {
    flex-direction: column;
    padding-bottom: 5rem;
  }

  .scores {
    width: 100%;
  }
}


